*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(53, 20, 23);
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.main-div{
    background: rgb(40, 111, 147);
    height: 80vh;
    width: 70vw;
    margin: 15%;
    padding: 0;
    /* min-height: 70%; */
    /* min-width: 70%; */
}

.header-div{
    background: rgb(26, 1, 61);
    padding: 3%;
    color: rgb(203, 3, 3);
    text-align: center;
}

/* .add-list-div{
    margin: 20px;
    background:white;
    padding: 20px;
    border-radius: 3px;
} */

.To-Do-Form{
    box-shadow: #bc05f3 3px 2px 10px;
    margin: 10px;
    background: white;
    padding: 15px 2% 2px 2px;
    border: solid; 
    border-radius: 4px;
}

.To-Do-Input{
    width: 80%;
    padding: 7px 10% 7px 7px;
    border-radius: 3px;
    box-shadow: #92e3f6 2px 2px 15px;
    /* float: left; */
    font-size: 10px;
}

.add-button{
    background: blue;
    color: wheat;
    padding: 10;
    border-radius: 2px;
    outline: none;
    border: 0px;
    margin-left: 80%;
    width: 15%;
    text-align: center;
    cursor: pointer;
}

.To-Do-list-div{
    background: linear-gradient(#d7f6cb, #e7c9c9, #b3dea2, #e9b7b7);
    padding: 15%;
    margin: 5%;
    height: 55vh;
    margin-top: 7%;
    border-radius: 3%;
}

.To-Do-list-div:hover{
    cursor: pointer;
    color: #fdc62d;
}

.To-Do-Item{
    cursor: none;
}