*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(53, 20, 23);
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.main-div{
    background: rgb(40, 111, 147);
    height: 70vh;
    margin: 15%;
    min-height: 70%;
    min-width: 70%;
}

.header-div{
    background: rgb(26, 1, 61);
    padding: 3%;
    color: rgb(203, 3, 3);
    text-align: center;
}

/* .add-list-div{
    margin: 20px;
    background:white;
    padding: 20px;
    border-radius: 3px;
} */

.To-Do-Form{
    box-shadow: #bc05f3 3px 2px 10px;
    margin: 10px;
    background: white;
    padding: 10px 20% 10px 10px;
    border: solid; 
    border-radius: 4px;
}

.To-Do-Input{
    width: 100%;
    padding: 5px 25% 5px 5px ;
    border-radius: 3px;
    box-shadow: #92e3f6 2px 2px 15px;
}

.add-button{
    background: blue;
    color: wheat;
    padding: 5px 10px;
    border-radius: 2px;
    outline: none;
    border: 0px;
    margin-left: 95%;
}